.box > div {
  width: 400px;
  border-radius: 20px;
  min-height: 300px;
  border: 3px solid black;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.right {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.upper-div {
  display: flex;
  flex-grow: 1;
  padding: 5px;
  gap: 5px;
}
.upper-div p{
  flex-grow: 1;
  max-width: 50%;
  word-wrap: break-word;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.right img {
  width: 100%;
  border-end-start-radius:20px;
  border-end-end-radius:20px;
}

.box {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.left input, button{
  padding: 10px 10px;
  border-radius: 4px;
  outline: none;
  border: none;
}

.left button{
  border-radius: 5px;
  padding: 8px 16px;
}

.left, .right{
  background-color: #194b79;
  transition: 0.3s;
}


.left:hover, .right:hover{
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); /* 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) */
  transform: scale(1.05);
}